
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Other files and folders ###
docker-compose.yml
.idea
###< Other files and folders ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
